.app-header {
  margin-bottom: 15px;
  font-size: 2em;
  text-align: center;
}

.game-form {
  margin-bottom: 20px;
  font-size: 1.5em;
  text-align: center;
}

.add-game {
  vertical-align: middle;
}